<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1 class="logo">Tweetr</h1>
            <div class="search-box">
                {{input value=searchQuery placeholder="Type to search"}}
            </div>
        </div>

        {{#if hasSearchQuery}}
          <div class="panel search-terms">
              <b>Search results for {{searchType}}:</b> <i>"{{searchQuery}}"</i>
          </div>
        {{/if}}

        
    </div>
</div>
 
<div class="row">
    <div class="large-3 columns ">
        <div class="panel">
            {{gravatar-image email=userEmail size=250}}
            <h5> {{userName}} </h5>

            <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                <section class="section">
                    <button {{action 'editUserDetails'}}>User Details</button>

                    {{#if isAdding}}
                        <button class="cancel-tweet" {{action 'cancelTweetBtn'}}>Cancel</button>
                    {{else}}
                        <button {{action 'addTweetBtn'}}>Add Tweet</button>
                    {{/if}}

                </section>
            </div>
        </div>
    </div>

    {{#if isEditingUserData}}
      <div class="large-9 columns">
        <div class="row">
            <div class="large-10 columns">
              <div>
                Name: {{input type="text" value=userName placeholder="Your Name"}}
              </div>

              <div>
                Email: {{input type="text" value=userEmail placeholder="your-email@example.org"}}
              </div>

              <div class="user-edit-actions">
                  <button {{action 'doneUserDetails'}}>Done</button>
              </div>
          </div>
        </div>
      </div>
    {{/if}}

    {{outlet}}
     
</div>
 
<footer class="row">
  <div class="large-12 columns">
      <hr/>
      <div class="row">
          <div class="large-5 columns">
            <p>2001 - 2015 &copy; Tweetr</p>
          </div>
      </div>
  </div>
</footer>
