<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1 class="logo">Tweetr</h1>
            <div class="search-box">
                {{input value=searchQuery action='searchAction' placeholder="Type to search"}}
            </div>
        </div>

        
    </div>
</div>
 
<div class="row">
    <div class="large-3 columns ">
        <div class="panel">
            <a href="#">{{gravatar-image email=userEmail size=250}}</a>
            <h5> {{userName}} </h5>
            <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                <section class="section">
                    {{#unless isAdding}}
                        <button {{action 'addTweet'}}>Add Tweet</button>
                    {{/unless}}
                </section>
            </div>
        </div>
    </div>

    {{outlet}}
     
</div>
 
<footer class="row">
  <div class="large-12 columns">
      <hr/>
      <div class="row">
          <div class="large-5 columns">
            <p>2001 - 2015 &copy; Tweetr</p>
          </div>
          <div class="large-7 columns">
              <ul class="inline-list right">
                <li>{{#link-to 'index'}}Home{{/link-to}}</li>
              </ul>
          </div>
      </div>
  </div>
</footer>