<div class="large-9 columns">

    <div class="row">
        <div class="large-10 columns">
            {{#if isAdding}}
                {{partial 'tweet/add'}}
                <div class="row">
			        <div class="large-2 columns small-3">
			            {{gravatar-image email=userEmail size=80}}
			        </div>
			        <div class="large-10 columns">
			            <p><strong>{{emailField}} said:</strong> {{tweetField}}</p>
			        </div>
			    </div>
			     
			    <hr/>
                <button {{action 'doneAdd'}}>Done</button>
            {{else}}
                <button {{action 'add'}}>Add Tweet</button>
            {{/if}}
        </div>
    </div>
     
    <hr/>

    {{#each item in model}}
        <div class="row">
            <div class="large-2 columns small-3">
                {{gravatar-image email=item.email size=80}}
            </div>
            <div class="large-10 columns">
                <p><strong>{{item.email}} said:</strong> {{item.content}}</p>
            </div>
        </div>
         
        <hr/>
    {{/each}}
 
</div>