<div class="large-9 columns">

    <div class="row">
        <div class="large-10 columns">
            {{#if isAdding}}
                {{partial 'tweet/add'}}
                <div class="row">
			        <div class="large-2 columns small-3">
			            {{gravatar-image email=emailField size=80}}
			        </div>
			        <div class="large-10 columns">
			            <p><strong>{{emailField}} is gonna say:</strong> {{tweetField}}</p>
			        </div>
			    </div>
			     
                <div class="tweet-actions">
                    <button class="cancel-tweet" {{action 'cancelTweet'}}>Close</button>
                    <button type="submit" {{action 'postTweet'}} {{bind-attr disabled=isNotValidTweet}}>Post Tweet</button>
                </div>

                <hr/>
            {{/if}}
        </div>
    </div>
     
    {{#each item in model}}
        <div class="row">
            <div class="large-2 columns small-3">
                {{gravatar-image email=item.email size=80}}
            </div>
            <div class="large-10 columns">
                <p><strong>{{item.email}} said:</strong> {{item.content}} <span class='timeago'> - {{format-date item.created}}</span></p>
            </div>
        </div>
         
        <hr/>
    {{/each}}
 
</div>